@import "rsuite/dist/rsuite.css"; 

.dashchart{
    margin-top: 2% !important;
}
 
.rightbar{
    display: flex;
    justify-content: flex-end;
}

.calendar{
    max-width: 100% !important;
    width: 40%;
    height: 90% !important;
    margin-left: 50% !important;
}
.chartbar {
    height: 45vh;
    // border-bottom: 2px solid #46c2ba;
    
    font-size: 14px;
    margin-top: 8px;
    
    // margin-left: 1%;
    // margin-right: 1%;
    

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggler {
            margin-right: 2%;
            cursor: pointer;
        }
        .head {
            margin-left: -3%;
            margin-bottom: -14%;
        }
        }
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid rgb(251, 247, 247);
            padding: 3px;
            border-radius: 34px;
            // margin-right: 67%;

            input {
             border: none;
             outline: none; 
             background-color: transparent;
             
             &::placeholder {
                font-size: 12px;
                color: white;
             }
            }

        }

        .items {
            display: flex;
            // justify-content: space-between;
            margin-bottom: 53vh;
            // margin-bottom: 50vh;
            margin-right: -14%;

           
            
            .item {
                margin: 10px;
                display: flex;
                align-items: centre;
                position: relative;

                

                .icon {
                    font-size: 20px;
                }
         

                .counter {
                    width: 10px;
                    height: 10px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;

                }

                .calender{
                //     width: 30px;
                //     height: 30px;
                //     border-radius: 50%;
                //     position: relative;
                //     top: -6px;
                //     margin-left: 3%;
                //     margin-left: -56%;
                //     margin-top: -36%;

                    .rs-anim-fade .rs-anim-in .rs-picker-daterange-menu .rs-picker-menu .placement-bottom-start {
                        left: 635.45px !important;
                    }
                }
            }
            
        }
        .bottom-title{
            display: flex;
            margin-left: 30px;
            gap: 3%;

            .bulletPoint{
                margin-top: 3px;
                color: #21d29f;
            }
            .bulletPoint1{
                margin-top: 3px;
                color: #FF994E;
            }
            .bulletPoint2{
                margin-top: 3px;
                color:#FF7B7B;
            }
        }
    }
    
 
