/* .econ_Section {
    background-image: url("../../../public/Assets/econ.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 624px;
}
.econ_Section .econ_Container {
    height: 600px;
    width: 1250px;
    overflow: hidden
}
.econ_Container {
    width: 80%;
}

.cards {
    width: 80%;
    height: 96vh;
    right: -14%;
    margin-top: 4%;
    position: relative;
    background: transparent;
    box-shadow: 0px 10px 20px #000000bd;
    opacity: 1;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
}
.econ_box{
    text-align-last: center;
    position: relative;
    top: -53px;
}
.form{
    text-align: center;   
}
.econ_icon {
width: 40%;
height: 36vh;
align-self: center;
}
.econ_subtitless {
    color: white;
    font-size: 18px;
     margin-bottom: 2%;
}
.econ_reset {
    letter-spacing: 0.56px;
    color: #05B0E2;
    opacity: 1;
    font: normal normal bold 26px/20px Gotham;
}
.econ_usermsg {
text-align: center;
font: normal normal medium 20px/20px Gotham;
letter-spacing: 0.4px;
color: #FFFFFF;
opacity: 1;
}
.econ_cofirmpass {
    width: 80%;
    margin-left:10% ;
    margin-top: -14%;   
}
.econ_password{
    background-color: white;
}

.econ_userIcon {
    width: 22px;
}

.econ_eyeIcon {
width: 22px;
}
.econ_confirm {  
    background-color:#0092BD;
    width: 100%;
    margin-top:-2%; 
}
.econ_promotion {
    font-size: 12px;
    font-size: 14px;
    color: white;
    text-align: end;
    margin-top: 1%;
    margin-left: -4%;
} */