.econ_Section {
    background-image: url("../../../public/Assets/econ.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 624px;
}
.econ_Section .econ_Container {
    height: 600px;
    width: 1250px;
    overflow: hidden
}
.econ_Container {
    width: 80%;
}

.cards {
    width: 80%;
    height: 96vh;
    right: -14%;
    margin-top: 4%;
    position: relative;
    background: transparent;
    box-shadow: 0px 10px 20px #000000bd;
    opacity: 1;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
}
.econ_box{
    text-align-last: center;
    position: relative;
    top: -53px;
}
.form{
    text-align: center;   
}
.econ_icon {
width: 40%;
height: 36vh;
align-self: center;
}
/* .econ_subline {
    color: white;
    font-size: 18px;
    margin-bottom: 4%;
    letter-spacing: 0.56px;
    font: normal normal medium 28px/20px Gotham;
    letter-spacing: 0.56px;
    color: #F9F9F9;
    opacity: 1;
}
.econ_forpass {
font: normal normal bold 22px/20px Gotham;
letter-spacing: 0.56px;
color: #05B0E2;
opacity: 1;
margin-bottom: 3%;

}
.econ_messagge {
    text-align: center;
    color: white;
    margin-bottom: 7%;
}
.econ_msg1 {
    margin-bottom: -1%;
}
.econ_msg {
    margin-bottom: -1%;
}
 
.econ_mailbtn {
    width: 80%;
    margin-left:10% ;
    margin-top: -14%;   
}
.econ_email{
    background-color: white;
}
.econ_mail {
    width: 22px;
}
.econ_otpbtn {
background-color:#0092BD;
width: 100%;
margin-top:-2%;
}
.econ_adver {
    font-size: 12px;
    font-size: 14px;
    color: white;
    text-align: end;
    margin-top: 1%;
    margin-left: -4%;
} */
